:80 {
  encode zstd gzip

  header {
    X-Robots-Tag "noindex, nofollow, noarchive, nosnippet, noimageindex"
  }

  handle /robots.txt {
    header Content-Type "text/plain; charset=utf-8"
    respond "User-agent: *\nDisallow: /\n" 200
  }

  handle /api/* {
    reverse_proxy api:8787
  }

  handle {
    reverse_proxy web:3000
  }
}
